<div class="jumbotron">
  <h2>This is what you said: <span id="greeting"></span></h2>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.3.0/annyang.min.js"></script>
<script>
  if (annyang) {

    var greeting = function(text) {
      $('#greeting').text(text);
    };

    commands = {
      '*text': greeting
    };

    // Add our commands to annyang
    annyang.addCommands(commands);

    annyang.debug(true);

    annyang.start();
  }
</script>
